#english-text {
    font-family: 'Press Start 2P';
    font-size: '2.5vh'
}

.guiContainer {
    bottom: 15%;
    right: 5%;
    position: absolute;
    background: transparent;
    border: 1px solid #aaa;
    border-radius: "3px";
    color: "#aaa";
    height: "27px";
    outline: "none";
}